<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @publication.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @publication.description %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @publication.isbn %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @publication.published_at %>
</p>

<p>
  <strong>Publication type:</strong>
  <%= @publication.publication_type %>
</p>

<%= link_to 'Edit', edit_publication_path(@publication) %> |
<%= link_to 'Back', publications_path %>
